@charset "utf-8";
/* CSS Document */

nav {
	margin-top: 35px;
	background-color:lightcyan
}


.content {
    
    background-color: white; 
    width: 100%;
    margin: auto;
    margin-bottom: 18vh;
    padding: 2%;
    
}

p {
    
    width: 90%;
    max-width: 400px;
    margin: auto;
    background-color: #EF1620;
    padding: 30px;
    color: white;
    margin-bottom: 
}

h1 {
    
    font-family: 'Ruslan Display', monospace;
    color: white;
    color: white;
    font-size: 64px;
    line-height: 64px;
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding-top: 15px;
}

.split h1 {
    
    padding-top: 50px;
    color: white;
}

.split p {
    
    margin-bottom: 50px;
}

#splitty {
    
    background-color: rgba(0, 0, 0, 0);
}

#palace p {
    
    background-color: #034DA3;
}

h2 {
    
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

h3 {
    
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    margin-bottom: 25px;
}

#clock {
    
    background-color: white;
    position: fixed;
    top: 80%;
    left: 5%;
    padding: 10px;
    border: solid 6px #EF1620;
    max-width: 30%;
}

#clock h4 {
    
    color: #034DA3;
}

span {
    
    font-family: 'Ruslan Display', monospace;
    font-size: 30px;
    color: #EF1620;
}

#flag {
    
    padding: 10px;
    margin: auto;
    width: 60%;
    max-width: 200px;
    text-align: center;
    
}

footer {
    
    background-color: #034DA3;
    padding-bottom: 2%;
}

footer #flag {
    
    margin-top: 5%;
    padding: 0px;
    border: solid 3px white;
}

footer h4 {
    
    color: white;
    margin-top: 4%;
    font-weight: 400;
}

.text {
    
    background-color: #034DA3;
    color: white;
}

#officials {
    
    margin: auto;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-items: center;
    grid-gap: 0px;
    width: 1700px;
    max-width: 100%;
}

.split {
    
    margin: 0;
    padding-bottom: 5%;
    border: none;
    width: 100%;
    background-color: #034DA3;
}

.split div {
    
    margin: auto;
    vertical-align: middle;
    display: inline-block;
    border: none;
    width: 100%;
    max-width:700px;
    margin-top: 25px;
}

.head {
    
    position: static;
    margin: auto;
    max-height: 60vh;
    max-width: 95%;
    object-fit: cover;
    align-self: center;
    overflow: hidden;
    padding-bottom: 15px;
    height: 455px;
    
    margin-bottom: 25px;
    
    background-color: #034DA3;
}

.head:nth-child(odd) {
    background: #EF1620;
}

.head img {
    
    width: 250px; 
    height: 250px; 
    object-fit: cover;
    padding: 25px;
}



.mainer {
    
    width: 600px;
    max-width: 90%;
    margin: 25px;;
}

svg{
    width: 1.5em;
    height: 1.5em;
}
.navbar .navbar-menu{
    box-shadow:none!important
}

.navbar-item .icon{
    color:#d64000
}
.navbar-brand .navbar-item.logo{
    padding:0 1rem
}
.menu-list{
    list-style:none!important;
    text-align:left
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
.navbar-burger,body,h2,h4,html,li,textarea,ul{
    margin:0;
    padding:0;
}
/*
h1,h2,h3,h4{
    font-size:100%;
    font-weight:400
}
*/
ul{
    list-style:none
}
button,input,textarea{
    margin:0
}
html{
    box-sizing:border-box;
    background-image: url(imgs/gov/country.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*,:after,:before{
    box-sizing:inherit
}
html{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    text-size-adjust:100%;
    background-color:#fff;
    font-size:16px;
    min-width:300px;
    overflow-x:hidden;
    overflow-y:scroll
}
article,footer,header,section{
    display:block
}
body,button,input,textarea{
    font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif
}
code{
    -moz-osx-font-smoothing:auto;
    -webkit-font-smoothing:auto;
    font-family:monospace
}
body{
    font-family: 'Space Grotesk', sans-serif;
     text-align: center;
    color:#333;
    font-size:1em;
    font-weight:400;
    line-height:1.5
        
        
}
a{
    color:#485fc7;
    cursor:pointer;
    text-decoration:none
}
a:hover{
    color:#363636
}
img{
    height:auto;
    max-width:100%
}
.container{
    flex-grow:1;
    margin:0 auto;
    position:relative;
    width:auto
}
@media screen and (min-width:1024px){
    .container{
        max-width:960px
    }
}
@media screen and (min-width:1216px){
    .container:not(.is-max-desktop){
        max-width:1152px
    }
}
@media screen and (min-width:1408px){
    .container:not(.is-max-desktop):not(.is-max-widescreen){
        max-width:1344px
    }
}
.image{
    display:block;
    position:relative
}
.image img{
    display:block;
    height:auto;
    width:100%
}
.navbar{
    min-height:3.25rem;
    position:relative;
    z-index:30
}
.navbar.is-link{
    background-color:#485fc7;
    color:#fff
}
.navbar.is-link .navbar-brand>.navbar-item{
    color:#fff
}
.navbar.is-link .navbar-brand>a.navbar-item.is-active,.navbar.is-link .navbar-brand>a.navbar-item:focus,.navbar.is-link .navbar-brand>a.navbar-item:hover{
    background-color:#3a51bb;
    color:#fff
}
.navbar.is-link .navbar-burger{
    color:#fff
}
@media screen and (min-width:1024px){
    .navbar.is-link .navbar-end>.navbar-item,.navbar.is-link .navbar-start>.navbar-item{
        color:#fff
    }
    .navbar.is-link .navbar-end>a.navbar-item.is-active,.navbar.is-link .navbar-end>a.navbar-item:focus,.navbar.is-link .navbar-end>a.navbar-item:hover,.navbar.is-link .navbar-start>a.navbar-item.is-active,.navbar.is-link .navbar-start>a.navbar-item:focus,.navbar.is-link .navbar-start>a.navbar-item:hover{
        background-color:#3a51bb;
        color:#fff
    }
}
.navbar>.container{
    width:100%
}
.navbar-brand,.navbar>.container{
    align-items:stretch;
    display:flex;
    min-height:3.25rem
}
.navbar-brand{
    flex-shrink:0
}
.navbar-brand a.navbar-item:focus,.navbar-brand a.navbar-item:hover{
    background-color:transparent
}
.navbar-item{
    color:#4a4a4a;
    display:block;
    line-height:1.5;
    padding:.5rem .75rem;
    position:relative
}
.navbar-item .icon:only-child{
    margin-left:-.25rem;
    margin-right:-.25rem
}
a.navbar-item{
    cursor:pointer
}
a.navbar-item.is-active,a.navbar-item:focus,a.navbar-item:focus-within,a.navbar-item:hover{
    background-color:#fafafa;
    color:#485fc7
}
.navbar-item{
    flex-grow:0;
    flex-shrink:0
}
.navbar-item img{
    max-height:1.75rem
}
@media screen and (min-width:1px){
    .navbar,.navbar-end,.navbar-menu,.navbar-start{
        align-items:stretch;
        display:flex
    }
    .navbar{
        min-height:3.25rem
    }
    .navbar.is-transparent a.navbar-item.is-active,.navbar.is-transparent a.navbar-item:focus,.navbar.is-transparent a.navbar-item:hover{
        background-color:transparent!important
    }
    .navbar-burger{
        display:none
    }
    .navbar-item{
        align-items:center;
        display:flex
    }
    .navbar-menu{
        flex-grow:1;
        flex-shrink:0
    }
    .navbar-start{
        justify-content:flex-start;
        margin-right:auto
    }
    .navbar-end{
        justify-content:flex-end;
        margin-left:auto
    }
    .container>.navbar .navbar-brand,.navbar>.container .navbar-brand{
        margin-left:-.75rem
    }
    .container>.navbar .navbar-menu,.navbar>.container .navbar-menu{
        margin-right:-.75rem
    }
    a.navbar-item.is-active{
        color:#2b2523
    }
    a.navbar-item.is-active:not(:focus):not(:hover){
        background-color:transparent
    }
}
.has-text-centered{
    text-align:center!important
}